*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.cmake linguist-detectable=false
*.html linguist-detectable=false
*.swift linguist-detectable=false
CMakeLists.txt linguist-detectable=false
